:root
{
  --rick-morty-dark: black;
  --rick-morty-lighter: rgb(251, 251, 251);
  --rick-morty-light: rgb(208, 208, 208);
}

header
{
  background-color: var(--rick-morty-dark);
  color: var(--rick-morty-lighter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px #9b9b9b;

  nav
  {

    a
    {
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-weight: 800;
      color: var(--rick-morty-lighter);
    }
  }

}


.pagination
{
  margin: 1rem 0;
  justify-content: center;
  align-items: center;

  .prev,
  .next
  {
    background-color: var(--rick-morty-dark);
    color: var(--rick-morty-lighter);
    border-radius: .25rem;
    padding: 0.25rem 0.75rem;
    border: none;

  }

  .pages-counter
  {
    margin: 0 1rem;

    .active-page
    {
      font-weight: 800;
    }
  }
}